<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">Agencia de Viajes Poseidón</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/viajes']" routerLinkActive="active">Viajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/viajes/editar']" routerLinkActive="active">Crear Viaje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clientes']" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clientes/editar']" routerLinkActive="active">Nuevo Cliente</a>
        </li>
      </ul>
      <li class="nav-item logout nav-menu-rigth">
        <a class="nav-link " (click)="logOut()" title="Cerrar Sesión" routerLinkActive="active"><i
            class="fas fa-sign-out-alt"></i></a>
      </li>
    </div>
  </div>
</nav> -->


<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="home" [routerLink]="['']">Agencia de Viajes</span>
    <span class="example-spacer"></span>
    <div>
      <a mat-button [routerLink]="['/viajes']" routerLinkActive="active">Viajes</a>
      <a mat-button [routerLink]="['/viajes/editar']" routerLinkActive="active">Crear Viaje</a>
      <a mat-button [routerLink]="['/clientes']" routerLinkActive="active">Clientes</a>
      <a mat-button [routerLink]="['/clientes/editar']" routerLinkActive="active">Nuevo Cliente</a>
    </div>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    <button mat-button [routerLink]="['admin']">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
    <button mat-icon-button (click)="logOut()" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar>
</p>