.nav-link.active {
  font-weight: 600;
}

.logout {
  list-style: none;
  font-size: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.home {
  cursor: pointer;
}

.mat-button:hover {
  color: #fff;
}
