.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 2rem;

  .image {
    background-image: url("https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2028&q=80");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .error {
    color: red;
  }
}
