<div class="container">
    <h1>
        Listado de Viajes
    </h1>
    <div class="card" *ngFor="let viaje of viajes; let idx = index">
        <div class="card-header">
            <p>{{ viaje.nombre }}</p>
            <h2>{{idx + 1}}</h2>
        </div>
        <div class="card-content">
            <div>
                <p><span class="label">Destino:</span>{{viaje.destino}}</p>
                <p><span class="label">Duracion:</span>{{viaje.duracion}}</p>
                <p><span class="label">Plazas:</span>{{viaje.plazas}}</p>
            </div>
            <div>
                <p><span class="label">Tipo de Viaje:</span>{{viaje.tipoDeViajeId}}</p>
                <p><span class="label">En Oferta</span> <i class="fas" [ngClass]="viaje.enOferta ? 'fa-check' : ''"></i></p>
            </div>
        </div>
    </div>
</div>