<mat-card class="example-card mb-3">
  <mat-card-header>
    <mat-card-title>Clientes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="clientesForm" (ngSubmit)="guardarClick(clientesForm)" [ngClass]="{submited: submited}">

      <div fxLayout="row wrap" fxLayoutGap="20px">

        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput formControlName="apellidos">
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>DNI</mat-label>
          <input type="text" matInput formControlName="dni">
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>Fecha de nacimiento:</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>Teléfono</mat-label>
          <input type="tel" matInput formControlName="telefono">
        </mat-form-field>
        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>Dirección</mat-label>
          <input type="text" matInput formControlName="direccion">
        </mat-form-field>


        <mat-form-field appearance="legacy" fxFlex="1 1 300px">
          <mat-label>Estado Civil:</mat-label>
          <mat-select formControlName="estadoCivilId">
            <mat-option *ngFor="let item of estadoCivil" [value]="item.id">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="row-buttons">
        <button mat-stroked-button color="primary" type="submit">Guardar</button>
        <button mat-stroked-button color="accent" type="button" (click)="resetForm()">Nuevo cliente</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

<!-- <form [formGroup]="clientesForm" (ngSubmit)="guardarClick(clientesForm)" [ngClass]="{submited: submited}">
  <fieldset>
    <legend>
      <h1 class="back"> <i class="fas fa-arrow-left" [routerLink]="['/clientes']"></i> Clientes</h1>
    </legend>
    <div class="flex-row">
      <div class="field-element">
        <label for="">Nombre: </label>
        <input id="" type="text" formControlName="nombre">
      </div>
      <div class="field-element">
        <label for="">Apellidos: </label>
        <input id="" type="text" formControlName="apellidos">
      </div>
      <div class="field-element">
        <label for="">Email: </label>
        <input id="" type="email" formControlName="email">
      </div>
      <div class="field-element">
        <label for="">Estado Civil: </label>
        <select id="" formControlName="estadoCivilId">
          <option *ngFor="let item of estadoCivil" [ngValue]="item.id">{{item.descripcion}}</option>
        </select>
      </div>
      <div class="field-element">
        <label for="">DNI: </label>
        <input id="" type="text" formControlName="dni">
      </div>
      <div class="field-element">
        <label for="">Fecha de nacimiento: </label>
        <input id="" type="date" formControlName="fechaNacimiento">
      </div>
      <div class="field-element">
        <label for="">Teléfono: </label>
        <input id="" type="tel" formControlName="telefono">
      </div>
      <div class="field-element">
        <label for="">Dirección: </label>
        <input id="" type="text" formControlName="direccion">
      </div>
    </div>
  </fieldset>
  <div class="row-buttons mb-3">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-secondary" type="button" (click)="resetForm()">Nuevo Cliente</button>
  </div>
</form> -->