<div class="container">
  <h1>
    Listado de Clientes
  </h1>
  <table>
    <thead>
      <th>Nombre</th>
      <th>DNI</th>
      <th class="right">Telefono</th>
      <th>Estado Civil</th>
      <th></th>
      <th></th>
    </thead>
    <ng-container *ngFor="let cliente of clientes;">
      <tr>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.dni}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.estadoCivilDesc}}</td>
        <td>
          <i class="far fa-edit" title="Editar Cliente" (click)="editarClick(cliente.id)"></i>
        </td>
        <td>
          <i class="fas fa-trash-alt" title="Eliminar Cliente" (click)="eliminarClick(cliente.id)"></i>
        </td>
      </tr>
    </ng-container>
  </table>
</div>