<mat-card class="example-card mb-3">
    <mat-card-header>
        <mat-card-title>Viajes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="viajesForm" (ngSubmit)="guardarClick(viajesForm)" [ngClass]="{submited: submited}">

            <div fxLayout="row wrap" fxLayoutGap="20px">

                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="nombre">
                </mat-form-field>

                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Destino</mat-label>
                    <input type="text" matInput formControlName="destino">
                    <mat-error *ngIf="viajesForm.controls.destino.hasError('invalidDestination')">Restricción
                        COVID</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Duración</mat-label>
                    <input type="text" matInput formControlName="duracion">
                </mat-form-field>

                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Plazas</mat-label>
                    <input type="text" matInput formControlName="plazas">
                </mat-form-field>

                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Precio</mat-label>
                    <input type="number" matInput formControlName="precio">
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">

                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>En Oferta</mat-label>
                    <mat-select formControlName="enOferta">
                        <mat-option [value]="true">Si</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Tipo de viaje:</mat-label>
                    <mat-select formControlName="tipoDeViajeId">
                        <mat-option *ngFor="let item of tiposDeViaje" [value]="item.id">{{item.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="row-buttons">
                <button mat-stroked-button color="primary" type="submit">Guardar</button>
                <button mat-stroked-button color="accent" type="button" (click)="resetForm()">Nuevo cliente</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>